#form_container
  = form_for @wine do |f|
    - if @wine.errors.present?
      .error_list
        - @wine.errors.full_messages.each do |message|
          = message
          %br
    .form-input
      = f.label :name
      = f.text_field(:name)
    .form-input
      = f.label :style
      = f.text_field(:style)
    .form-input
      = f.label :color
      = f.text_field(:color)
    .form-input
      = f.label :rating
      = f.text_field(:rating)
    .form-submit
      = f.submit 'Update'
%br
#form_container
  =button_to "Delete", "/wines/#{@wine.id}", id: @wine.id, method: 'delete'